extends ../layout/layout


block content
  h3 Update Video
  form(method='POST')
    //- label(for='video') Video
    //-   input(type="file", name='video', id='video', accpet='video/*') 
    label(for="title") Title 
      input(type='text', name='title', id='title', maxlength='60', value=video.title)
    label(for="description") Video Description 
      input(
        type='text',
        id='description',
        name='description',
        minlength='30',
        value=video.description
      )
    label(for="tags") Tags, separted by comma 
      input(
        type='text',
        id='tags',
        name='tags',
        required,
        value=video.tags.join()
      )
    input(type='submit', value='Update')
