extends ../layout/layout
include ../mixins/comment

block content
  #videoContainer(data-id=video._id)
    video(src='/' + video.fileUrl autostart='false')
    #videoControls.videoControls
      .videoControls__play
        button.videoControls__playBtn#play
          i.fas.fa-play#playIcon
        .videoControls__time
          span#time-current 00:00  
          span /  
          span#time-duration 00:00
      input(type="range", name="timeline", step="1", min="0").videoControls__timeline#timeline
      .videoControls__volume
        input(type="range", name="volume", step="0.1", min="0", max="1")#volume
        button.videoControls__volumeBtn#mute
          i.fas.fa-volume-up#muteIcon
      button#fullscreen
        i.fas.fa-expand#fullscreenIcon
  
  if loggedIn
    .video__comments
      form.video__comments-form#commentForm
        if loggedInUser.avatarUrl.startsWith('https://')
          img.avatar.avatar-small(src=loggedInUser.avatarUrl alt=loggedInUser.name)
        else 
          img.avatar.avatar-small(src='/' + loggedInUser.avatarUrl alt=loggedInUser.name)
        textarea(cols="50", rows="4", placeholder="Write new Comment...")
        button
          i.fas.fa-paper-plane
  .comment__container(data-current=loggedInUser)
    if video.comments
      each comment in video.comments.reverse()
        +comment(comment)

block scripts
  script(src="/assets/scripts/videoPlayer.js")
  if loggedIn 
    script(src="/assets/scripts/commentSection.js") 