extends ../layout/layout

block content
  #videoContainer
    video(src='/' + video.fileUrl)
    #videoControls.videoControls
      .videoControls__play
        button.videoControls__playBtn#play
          i.fas.fa-play#playIcon
        .videoControls__time
          span#time-current 00:00  
          span /  
          span#time-duration 00:00
      input(type="range", name="timeline", step="1", min="0").videoControls__timeline#timeline
      .videoControls__volume
        input(type="range", name="volume", step="0.1", min="0", max="1")#volume
        button.videoControls__volumeBtn#mute
          i.fas.fa-volume-up#muteIcon
      button#fullscreen
        i.fas.fa-expand#fullscreenIcon
    //-
      button#theather
  //-
    div
      p #{ video.description.charAt(0).toUpperCase() + video.description.slice(1) }
      small= video.createdAt
    div
      small Uploaded By 
        a(href=`/user/${video.owner._id}`)=video.owner.name
    if String(video.owner._id) === String(loggedInUser._id)
      a(href=`${video.id}/edit`) Edit Video &rarr;
      br
      a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
  script(src="/assets/scripts/videoPlayer.js") 