mixin comment(comment)
  .comment(data-id=comment._id)
    .comment__writer(id=comment.owner._id)
      a(href='/user/'+comment.owner._id)
        img(src=`${comment.owner.avatarUrl.startsWith('https://')
            ? comment.owner.avatarUrl
            : '/' + comment.owner.avatarUrl}`, alt=`${comment.owner.name}'s Avatar`).avatar.avatar-small
    .comment__comment
      span=comment.comment
    .comment__buttons
      button.comment__buttons__likeBtn
        span=comment.meta.like
        i.far.fa-thumbs-up
      if String(comment.owner._id) === String(loggedInUser._id)
        button.comment__buttons__remove
          i.fas.fa-times