mixin comment(comment)
  .comment(data-id=comment._id)
    .comment__writer(data-id=comment.owner._id)
      a(href='/user/'+comment.owner._id)
        img(src=`${comment.owner.avatarUrl.startsWith('http')
            ? comment.owner.avatarUrl
            : '/' + comment.owner.avatarUrl}`, alt=`${comment.owner.name}'s Avatar`).avatar.avatar-small
    .comment__comment(data-value=comment.comment)
      span=comment.comment
    if String(comment.owner._id) === String(loggedInUser._id)
      .comment__buttons
        button.comment__buttons__modify
          i.far.fa-edit
        button.comment__buttons__remove
          i.fas.fa-times