extends layout/layout

block content
  h3 Update Video
  form(method='POST')
    input(
      type='text',
      name='title',
      placeholder=title,
      required,
      value=video.title
    )
    input(
      type='text',
      name='description',
      placeholder='Video Description',
      minlength='30',
      value=video.description
    )
    input(
      type='text',
      name='tags',
      required,
      placeholder='Tags, separated by comma',
      value=video.tags.join()
    )
    input(type='submit', value='Update')
