extends ../layout/layout

block content
  if errMsg
    span=errMsg
  label(for='user-profile').edit-profile__form
  form(method='post', name='user-profile', enctype='multipart/form-data')
    //-  if loggedInUser.avatarUrl.startsWith('https://')
        img(src=`${loggedInUser.avatarUrl}`, alt=loggedInUser.username).avatar
      else  
        img(src=`/${loggedInUser.avatarUrl}`, alt=loggedInUser.username).avatar
    label(for='avatar') Avatar
      input(type="file", name="avatar", id='avatar', accept='image/*') 
    label(for='email') Email
      input(
        type='email',
        name='email',
        id='email',
        value=loggedInUser.email,
        required,
        readonly
      )
    label(for='username') Username
      input(
        type='text',
        name='username',
        id='username',
        value=loggedInUser.username,
        required
      )
    label(for='name') Name
      input(type='text', name='name', id='name', value=loggedInUser.name, required)
    label(for='location') Location
      input(type='text', name='location',id='location', value=loggedInUser.location)
    input(type='submit', value='Update profile')
    if !loggedInUser.socialOnly 
      .edit-profile__password
        a(href="change-password") Change Password &rarr;
